/* LoginRegisterComponent.css */

.login-register-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .form-input {
    padding: 8px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .toggle-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .toggle-btn:hover {
    text-decoration: underline;
  }
  